#welcome-screen {
  display: flex;
  justify-content: center;
  min-height: 100%;
}
#welcome-screen img {
  max-width: 400px;
}

#welcome-screen .markdown-body {
  background-image: url('/public/image.png');
  background-position: 0 2rem;
  background-size: 300px;
  background-repeat: no-repeat;
  padding-left: 310px;
  min-height: 350px;
}
#welcome-screen .markdown-body p:first-child {
  margin-bottom: 2.5rem;
}

h1, h2, h3 {
  line-height: 1.25;
}